
@{
    ViewData["Title"] = "Sobre nós";
}

<br>
<br>
<div class="container">

    <div class="d-flex row">
        <div class=" about-img">
            <img src="http://themebubble.com/demo/marketingpro/wp-content/uploads/2016/10/seo-slide.png " alt="">
        </div>
        <br>

        <div class="about-text fst mt-3 col-md-6 ">
            <h1 class='text-warning'>Benvindo</h1>
            <h2>Sobre nós</h2>
            <hr>
            <p>Os elementos da nossa Equipa</p>
            <br>

            <div class="row">
                <button type="button" class="btn modal-button m-auto col-8">
                    <a class="nav-link" data-toggle="modal" data-target="#MoreKnoledDorind" data-text="saiba mais">Dorinda  </a>
                </button>
                <button type="button" class="btn modal-button  m-auto col-8 ">
                    <a class="nav-link" data-toggle="modal" data-target="#MoreKnoledFernanda" data-text="saiba mais">Fernanda  </a>
                </button>
                <button type="button" class="btn modal-button  m-auto col-8">
                    <a class="nav-link" data-toggle="modal" data-target="#MoreKnoledSara" data-text="saiba mais">Sara  </a>
                </button>
                <button type="button" class="btn modal-button  m-auto col-8">
                    <a class="nav-link" data-toggle="modal" data-target="#MoreKnoledTiago" data-text="saiba mais">Tiago</a>
                </button>
            </div>

        </div>
        <br>

        <div class="about-text scd mt-3 col-md-6">
            <h1 class='text-primary'>Saiba sobre</h1>
            <h2>a nossa missão</h2>
            <hr>
            <div class="card-text">
                <p>Bem-vindos ao nosso site, onde o Amor pela Arte se uniu para criar Sonhos Somos um pequeno grupo Familiar, que juntou os seus sonhos e o amor pela arte, resolvendo assim, trazê-los ao mundo real. <strong>Criamos peças com exclusividade </strong>, na grande maioria das vezes <strong> concretizando todo o trabalho artesanalmente </strong>...</p>


            </div>

            <button type="button" class="btn modal-button">
                <a class="nav-link" data-toggle="modal" data-target="#UrMission" data-text="Leia mais">Saber mais </a>
            </button>

        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
</div>

@section Scripts{
    <script type="text/javascript">
        document.querySelector('#AB').className = 'active';
    </script>
}