@{
    ViewData["Title"] = "a arte da familia";
}


<div class="container mt-3">

    <br>
    <div id="my-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class=" image-fluid" src="https://images.pexels.com/photos/8271817/pexels-photo-8271817.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

            </div>
            <div class="carousel-item ">
                <img class=" image-fluid" src="https://images.pexels.com/photos/5728208/pexels-photo-5728208.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

            </div>
            <div class="carousel-item ">
                <img class=" image-fluid" src="https://images.pexels.com/photos/6037947/pexels-photo-6037947.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

            </div>
            <div class="carousel-item ">
                <img class=" image-fluid" src="https://images.pexels.com/photos/5660230/pexels-photo-5660230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

            </div>
        </div>
    </div>

</div>

<div class="container mt-3">

    <div class="d-flex row">


        <div class="index-text fst  col-md-6 ">
            <h1 class='text-warning'>Benvindo</h1>
            <h2>A arte da familia</h2>
            <hr>
            <p>
                Bem-vindo à empresa familiar que junta o amor pela arte e a admiração pela originalidade mantendo uma pegada ecologica sustentavel promovendo sempre que possivel a reutilização de artigos que normalmente seriam descartados, fornecendo assim uma nova vida
                e utilidade aos mesmos, mantendo a originalidade dos nossos criadores e estilistas.
            </p>
            <p>
                desfrute de um mar de opções que de certo seram do seu gosto, encontrando-nos sempre que precisar de algo ainda mais único e especial.

            </p>


        </div>
        <br>

        <div class="index-text scd col-md-6">
            <h1 class='text-primary'> Compre</h1>
            <h2>na nossa loja</h2>
            <hr>
            <p>
                Aqui irá encontrar peças exclusivas e criadas, reutilizando os artigos cujo o destino era serem descartados, procedendo a todos os processos necessários para dar uma nova vida aos artigos e ao mesmo tempo, trazendo um novo estilo de decoração, moda, ect...

            </p>
            <p>
                A nossa loja foi desenvolvida para funcionar com a Paypal, sendo este um métedo seguro e viável de proceder a pagamento de forma mais automatizada e de podermos controlar as vendas evitando assim qualquer tipo de constrangimento para o cliente.
            </p>



        </div>
        <br>
        <br>
    </div>
    <br>
    <br>


</div>
