@{
    ViewData["Title"] = "Politica de Privacidade ";
}







<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="text-center m-auto text-black-50 ">
    Preencher esta página com uma minuta de RGPD
</h2>
<br />
<br />
<br />
<br />
<br />
<br />













@section Scripts{
    <script type="text/javascript">
        document.querySelector('#PD').className = 'active';
    </script>
}