
@{
    ViewData["Title"] = "Dispositor";
}

<br />

<div class="container-fluid">
    <div class="container d-flex m-auto row">
        <div class="card   ">
            <div class="card-title text-center">
                <h1 class="title-content">
                    comprar
                </h1>
            </div>
            <div class="fliper ">
                <div class="flip-img">

                    <div class="card-front">
                        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/63c56b14-9986-4e54-97c3-60e37ebc5d28/hoodie-pullover-com-efeito-lavado-jordan-sport-dna-TBxj3q.png" alt="">
                    </div>
                    <div class="card-back">
                        <img src="https://static.nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/45e5ff77-9bdd-466a-9709-4dce57b53a15/hoodie-pullover-com-efeito-lavado-jordan-sport-dna-TBxj3q.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="footer-content">
                    <a data-text="Adicionar ao Carrinho" class="nav-link "> Comprar este artigo </a>
                </div>

            </div>
            <br>
        </div>
        <br>
        <div class="card ">
            <div class="card-title text-center">
                <h1 class="title-content">
                    comprar
                </h1>
            </div>
            <div class="fliper ">
                <div class="flip-img">

                    <div class="card-front">
                        <img src="https://media.clubefashion.com/campanhas/978382f5dd1ebdd144b24d7cff4e7503a94ebefd/produtos/rev-1580480527/179372TAUPE_2.jpg" alt="">
                    </div>
                    <div class="card-back">
                        <img src="https://media.clubefashion.com/campanhas/978382f5dd1ebdd144b24d7cff4e7503a94ebefd/produtos/rev-1580480527/179372TAUPE_1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="footer-content">
                    <a data-text="Adicionar ao Carrinho" class="nav-link "> Comprar este artigo </a>
                </div>

            </div>
            <br>
        </div>
        <br>
        <div class="card   ">
            <div class="card-title text-center">
                <h1 class="title-content">
                    comprar
                </h1>
            </div>
            <div class="fliper ">
                <div class="flip-img">

                    <div class="card-front">
                        <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/750540d0-6c49-4701-88e4-2908a326f860/hoodie-pullover-hbr-jordan-sport-dna-DLcKcK.png" alt="">
                    </div>
                    <div class="card-back">
                        <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/1463466d-89b3-495e-9a0a-0196acbee924/hoodie-pullover-hbr-jordan-sport-dna-DLcKcK.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="footer-content">
                    <a data-text="Adicionar ao Carrinho" class="nav-link "> Comprar este artigo </a>
                </div>

            </div>
            <br>
        </div>
        <br>
        <div class="card  ">
            <div class="card-title text-center">
                <h1 class="title-content">
                    comprar
                </h1>
            </div>
            <div class="fliper ">
                <div class="flip-img">

                    <div class="card-front">
                        <img src="https://www.efootwear.eu/media/catalog/product/cache/image/650x650/8/4/8445110143469_06_pl.jpg" alt="">
                    </div>
                    <div class="card-back">
                        <img src="https://www.efootwear.eu/media/catalog/product/cache/image/650x650/8/4/8445110143469_01_pl.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="footer-content">
                    <a data-text="Adicionar ao Carrinho" class="nav-link "> Comprar este artigo </a>
                </div>

            </div>
            <br>
        </div>
        <br>

        <div class="card ">
            <div class="card-title text-center">
                <h1 class="title-content">
                    comprar
                </h1>
            </div>
            <div class="fliper ">
                <div class="flip-img">

                    <div class="card-front">
                        <img src="https://www.desigual.com/dw/image/v2/BCVV_PRD/on/demandware.static/-/Sites-desigual-m-catalog/default/dw63c2c08f/images/B2C/21SWMW26_2000_5.jpg?sfrm=jpg&sw=538" alt="">
                    </div>
                    <div class="card-back">
                        <img src="https://www.desigual.com/dw/image/v2/BCVV_PRD/on/demandware.static/-/Sites-desigual-m-catalog/default/dwef9899e8/images/B2C/21SWMW26_2000_2.jpg?sfrm=jpg&sw=538" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="footer-content">
                    <a data-text="Adicionar ao Carrinho" class="nav-link "> Comprar este artigo </a>
                </div>

            </div>
            <br>
        </div>
        <br>
        <div class="card  ">
            <div class="card-title text-center">
                <h1 class="title-content">
                    comprar
                </h1>
            </div>
            <div class="fliper ">
                <div class="flip-img">

                    <div class="card-front">
                        <img src="https://www.desigual.com/dw/image/v2/BCVV_PRD/on/demandware.static/-/Sites-desigual-m-catalog/default/dw282cdc66/images/B2C/21WAGO07_4001_8.jpg?sfrm=jpg&sw=538" alt="">
                    </div>
                    <div class="card-back">
                        <img src="https://www.desigual.com/dw/image/v2/BCVV_PRD/on/demandware.static/-/Sites-desigual-m-catalog/default/dw99e66499/images/B2C/21WAGO07_4001_1.jpg?sfrm=jpg&sw=538" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="footer-content">
                    <a data-text="Adicionar ao Carrinho" class="nav-link "> Comprar este artigo </a>
                </div>

            </div>
            <br>
        </div>
        <br>
    </div>

</div>
<br /><br />




@section Scripts{
    <script type="text/javascript">
        document.querySelector('#RG').className = 'active';
    </script>
}
